/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body, html {
  background:#000;
  height:100%;
  padding:0;
}

h1.logo {
  font-size:3em;
  color: #00CCFF;
  text-shadow:
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
}

.logo a, .logo a:visited, .logo a:hover {
  color: #00CCFF;
  text-decoration:none;
  background:none;
}

.container {
  text-align:center;
  top:0;
  position:fixed;
  width:80%;
  height:100%;
  background:#fff;
  margin-left:10%;
  margin-right:10%;
}
